body{
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    color: hsl(0, 0%, 0%);
    margin: 0px;
    padding: 30px;
    background-color: #e39ed4;
}
